body{
  background-image: url("back.jpg");
}
.header{
  background-color: #FFC0CB;
  /* width:100%; */
  height:5%;
  padding: 10px;
  top:0;
  left: 0;
  color: white;
  text-align: center;
  opacity: .9;
}
.wrapper1{
  text-align: center;
  height:92%;
  background-color: #F0F8FF;
  opacity: .8;

}
.text-area{
  background-color: #E6E6FA;
  float:left;
  width:46%;
  margin:1%;
  padding:1%;
}
.text-area1{
  background-color: #E6E6FA;
  float:right;
  width:46%;
  margin:1%;
  padding:1%;
}
.pirates {
/* background-color: white; */
/* background-image: url(../img/pirate.jpg); */
display: block;
margin-left: auto;
margin-right: auto;
width: 10%;
padding-bottom: 2%;
height: 10%
}
/* .pirates img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%; */
}
/* .align.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%; */
}
.about{
  background-color: white;
}
.wrapper1 ul{
    text-align: left;
  }
.wrapper2{
  height:80%;
  background-color: grey;
  opacity: .8;
}
/* .wrapper3{
  height:80%;
  background-color: grey;
  opacity: .8;
} */
.nav li{
  display: inline-block;
}
.loll img{
  width: inherit;
  text-align: right;
  width: 90%;
}
.wrapper1 h1{
  text-align: center;
  text-decoration-style: double;
  color: white;
